.avatarImageStyle {
  width: 100%;
  height: auto;
}

.userNameStyle {
  font-size: 3rem;
  font-weight: bold;
}

.followersAndFollowings {
  font-size: 1.7rem;
  color: grey;
}

.countStyle {
  font-weight: bold;
}

.repositoriesHeading {
  font-size: 2.1rem;
  font-weight: bold;
}

.repoNameStyle {
  font-size: 2.3rem;
  font-weight: bold;
}

.fa-star {
  color: rgb(221, 221, 111);
}

.noRepositories {
  font-size: 2rem;
  color: gray;
}
